@tailwind base;
@tailwind components;
@tailwind utilities;

/* Assuming your fonts are stored in /public/fonts/ */
@font-face {
  font-family: "custom-font";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
